* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: darkblue;
    background-color: #d2b48c;
}
h1 {
    color: #1e7fcb;
}
h2 {
    color:#4682b4;
}   

footer {
    color: #1e7fcb;
}

img {
    max-width: 100%;
    
    width: auto;
}

a {
    color: #ed7458;
    text-decoration: none;
}

a:hover {
    color: darkmagenta;
}
